/* commont styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}
/* common style end here */




/* header style  */
header{
    width: 100%;
    background-color: blue;
    
   
    
    
}
.header-with-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.header-tittle{
    margin-bottom: 40px;
    
}
.tittle{
    margin-bottom: 50px;
}
.header-tittle .tittle h1{
    color: #dddd;
    font-size: 50px;
    margin: 0px 0px 10px 0px ;
  
}
.botton {
    display: flex;
    justify-content: space-evenly;
    width: 140px;
    background-color: #002b36;
    padding: 7px 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(53 47 47);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
        
}

.botton:hover.botton i{
    transform: translate(5px);
}
.botton:hover{
    box-shadow: -3px -3px 7px #ffffff73,
                 3px 3px 5px rgba(94,104,121,0.288)
                 
}

.botton a{
    text-decoration: none;
    color: #ddd;
    font-size: 16px;
    
}
.botton i{
    color: #dddd;
    margin-left: 5px;

}
.header-image img{
    width: 550px;


}
/* header style end here */


/* main section players style */
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
    margin:50px 0px 50px 0px;
}
.player{
    width: 300px;
    box-shadow: 1px 1px 10px rgb(236, 229, 229);
    padding: 10px;
    border-radius: 10px;
}
.player img{
    width: 300px;
    border-radius: 5px;
}
.player h3{
    font-size: 28px;
}
.player p{
    font-size: 16px;
}
/* main section end here */



/* footer start here */
footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.footer-image img{
    width:480px;
}
.icon{
    background-color: #decdcd59;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;
}
.footer-text p{
    font-size: 15px;

}
/* footer end here */




/* responsive for mobile phone */

@media (max-width:600px) {

    .header-with-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .header-image img{
        width: 329px;
    }
    .players{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .player{
        margin-bottom: 15px;
    }
    .footer-image img{
        width: 200px;
        margin-bottom: 40px;
    }
    .footer-text p{
        font-size: 12px;
    }
    .footer-icon{
        margin-bottom: 30px;
    }
    
}



    




    /* responsive for mobile phone end here */
    
    


    
